@import "campr_colors";

.callout.campground-show-tile {
  background-color: rgba(254,254,238,0.9);
  border-radius: 20px;
  border-width: 3px;
  border-color: #202D41;
  max-width: 90%;
  float: none;
  margin: auto;
  margin-top: 3rem;

  .campground-overivew {
    display: inline-block;

    .grid-container.grid-x {
      padding: 2rem;
    }
  }

  img {
    align-self: left;
    max-width: 50%;
    border-radius: 20px;
    padding: 5px;
    margin-right: 2rem;
  }

  .campground-info {
    align: middle;

    a {
      color: #202D41;
      font-weight: bold;
    }

    p {
      color: #202D41;
    }
  }

  div.campground-show-icon-container {
    margin: 5px;
    padding: 5px;
    padding-top: 10px;
  }

  div.campground-show-icon-container.selected {
    border-radius: 5px;
    color: $campr-ivory;
    background-color: #214E34;

    label {
      color: inherit;
    }
  }

  div.campground-show-icons {
    margin: auto;
    text-align: center;
  }

  .campground-show-icon {
    margin-left: 20px;
    margin-right: 20px;
  }

  .unselected {
    color: gray;
  }

  .selected {
    color: $campr-ivory;
  }
}
