@import "campr_colors";

.home-page {
  text-align: center;

  .welcome-message {
    margin-top: 5rem;
    color: $campr-ivory;

    h1 a {
      font-size: 10rem;
      color: rgba(254,254,238,0.8);
      font-weight: 900;

    }

    h1 a:hover {
      text-decoration: none;
      color: rgba(254,254,238,0.9);
    }
  }

  .home-page-links {
    margin: auto;
    margin-top: 4rem;
    padding-left: 3rem;

    a {
      font-weight: bold;
      padding: 0.5rem;
      margin-left: left 4rem;
      margin-right: 4rem;
      font-size: 2rem;
      color: $campr-darkblue;
      background-color: rgba(254,254,238,0.8);
      border-radius: 5px;
      border: 2px solid rgba(254,254,238,0.8);
    }

    a:hover {
      text-decoration: none;
      background-color: $campr-darkblue;
      color: rgba(254,254,238,0.8);
    }
  }
}
