@import "campr_colors";

body {
  background-image: url(brandon-montrone-green-pine-trees-muted.jpeg);
  background-size: cover;

  a:hover {
    text-decoration: underline;
  };
};

nav.top-bar {
  background-color: $campr-darkblue;
  border-bottom: 3px solid $campr-ivory;
  padding-bottom: 0rem;

  .title-area {
    margin: 0;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-bottom: 1rem;
  };

  ul {
    margin: 0;
    padding-bottom: 0;
    background-color: inherit;
    list-style-type: none;
  };

  a {
    color: $campr-ivory;
    padding: 10px 10px;
  };

  .vertical.menu.accordion-menu {
    padding-bottom: 1rem;

    ::after {
      border-top-color: $campr-ivory;
      display: inline-block;
      position: relative;
      right: -0.5rem;
      bottom: 2px;
    };
  };
};

.sticky {
  width: 100%
};

.content {
  margin: 2rem;

  .flash {
    color: $campr-ivory;
    padding-bottom: 2rem;
  };
};

.campground-index-tile {
  border-radius: 20px;
  border-color: $campr-darkblue;
  border-width: 3px;
  background-color: rgba(254,254,238,0.85);

  .campground-index-image {
    border-radius: 20px;
    padding: 5px;
  };

  a {
    margin-top: 20px;
    color: $campr-darkblue;

    h5 {
      font-weight: bold;
    };
  };
};
