$campr-darkblue: #23293F;
$campr-ivory: #FEFEEE;
$campr-blue: #005377;
$campr-black: #0F0F0F;

body {
  background-image: url(brandon-montrone-green-pine-trees-muted.jpeg);
  background-size: cover;

  a:hover {
    text-decoration: underline;
  }
}

.top-bar {
  background-color: $campr-darkblue;
  border-bottom: 3px solid $campr-ivory;
  padding-bottom: 0rem;

  h3 {
    margin-left: 2rem;
  }

  ul {
    margin-right: 2rem;
    background-color: inherit;
    list-style-type: none;
  };

  a {
    color: $campr-ivory;
  };
}

.sticky {
  width: 100%
}

.content {
  margin: 2rem;
}

.campground-index-tile {
  border-radius: 20px;
  border-color: $campr-darkblue;
  border-width: 3px;
  background-color: rgba(254,254,238,0.85);

  .campground-index-image {
    border-radius: 20px;
    padding: 5px;
  };

  a {
    margin-top: 20px;
    color: $campr-darkblue;

    h5 {
      font-weight: bold;
    }
  };
}
